{% extends 'base.html' %}

{% block title %}Счёт {{ check.date_check.date() }} в договоре {{ last_contract.name }}{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/RemoveItem.js') }}"></script>
    <script src="{{ url_for('static', filename='js/SelectInput.js') }}"></script>
    <script src="{{ url_for('static', filename='js/SearchInput.js') }}"></script>
    <script>
        const numberPattern = /\d+/g;

        function HighlightWorkList(card) {
            card.classList.toggle("highlight");

            const ID = card.id.match(numberPattern).join('');
            const checkbox = document.getElementById("cb" + ID);
            checkbox.checked = !checkbox.checked;
        }
    </script>
{% endblock %}

{% block body %}
    <h1>Счёт {{ check.date_check.date() }} в договоре {{ last_contract.name }}
        ({{ last_contract.date_contract.date() }})</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endwith %}
    {% for is_belong, work, wlc, wlp, full_price in work_list_data %}
        {% if is_belong %}
            <div id="d{{ loop.index }}" class="dtls active_checks" style="margin-bottom: 10px">
                <h4>{{ work.name }} ({{ work.date_work.date().strftime('%d.%m.%Y') }}):</h4>
                Общая сумма: {{ full_price }} рублей<br>
                <table style="margin-bottom: 10px">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Наименование</th>
                        <th>Номер/Имя</th>
                        <th>Модель/Номер</th>
                        <th>Услуга</th>
                        <th>Цена</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set counter = namespace(value=1) %}
                    {% for price, work, cartridge, _ in wlc %}
                        <tr>
                            <td>
                                {{ counter.value }}
                            </td>
                            <td>
                                Картридж
                            </td>
                            <td>
                                {{ cartridge.number }}
                            </td>
                            <td>
                                {% for model in cartridge.cartridge_models %}
                                    {{ loop.index }}) {{ model.model }}<br>
                                {% endfor %}
                            </td>
                            <td>
                                {{ work }}<br>
                            </td>
                            <td>
                                {{ price }}
                            </td>
                        </tr>
                        {% set counter.value = counter.value + 1 %}
                    {% endfor %}
                    {% for price, work, printer, _ in wlp %}
                        <tr>
                            <td>
                                {{ counter.value }}
                            </td>
                            <td>
                                <p>Принтер</p>
                            </td>
                            <td>
                                {{ printer.name }}
                            </td>
                            <td>
                                {{ printer.num_inventory }}
                            </td>
                            <td>
                                {{ work }}<br>
                            </td>
                            <td>
                                {{ price }}
                            </td>
                        </tr>
                        {% set counter.value = counter.value + 1 %}
                    {% endfor %}
                    </tbody>
                </table>
                {% if check.active == 1 and last_contract.active == 1 %}
                    <a href="/list_of_completed_works/{{ work.id }}/update">Изменить</a>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
    <div class="total">
        <strong>Текущая сумма счёта: </strong>{{ check_price }} рублей.
    </div>
    {% if check.active == 1 and last_contract.active == 1 %}
        <div class="sch_bar">
            <div class="ctr">
                <label for="search_locw"><strong>Поиск по проделанным работам:</strong></label><br>
                <input type="text" placeholder="Начните вводить" id="search_input" class="enter"><br>
            </div>
        </div>
        <form method="POST">
            {% if work_list_data|length > 4 and not is_all_belong %}
                <input type="submit" value="Добавить" class="add_field">
            {% endif %}
            <div id="search_container">
                {% for is_belong, work, wlc, wlp, full_price in work_list_data %}
                    {% if not is_belong %}
                        <div id="d{{ loop.index }}" class="dtls closed_checks" style="margin-bottom: 10px"
                             onclick="HighlightWorkList(this)">
                            <input type="checkbox" id="cb{{ loop.index }}" value="{{ work.id }}" name="works"
                                   style="opacity: 0; position: absolute">
                            <h4 class="search-item-name">{{ work.name }} ({{ work.date_work.date().strftime('%d.%m.%Y') }}):</h4>
                            Общая сумма: {{ full_price }} рублей<br>
                            <table style="margin-bottom: 10px">
                                <thead>
                                <tr>
                                    <th>№</th>
                                    <th>Наименование</th>
                                    <th>Номер/Имя</th>
                                    <th>Модель/Номер</th>
                                    <th>Услуга</th>
                                    <th>Цена</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% set counter = namespace(value=1) %}
                                {% for price, work, cartridge, _ in wlc %}
                                    <tr>
                                        <td>
                                            {{ counter.value }}
                                        </td>
                                        <td>
                                            Картридж
                                        </td>
                                        <td>
                                            {{ cartridge.number }}
                                        </td>
                                        <td>
                                            {% for model in cartridge.cartridge_models %}
                                                ({{ model.model }})
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {{ work }}<br>
                                        </td>
                                        <td>
                                            {{ price }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% set counter.value = counter.value + 1 %}
                                {% for price, work, printer, _ in wlp %}
                                    <tr>
                                        <td>
                                            {{ counter.value }}
                                        </td>
                                        <td>
                                            <p>Принтер</p>
                                        </td>
                                        <td>
                                            {{ printer.name }}
                                        </td>
                                        <td>
                                            {{ printer.num_inventory }}
                                        </td>
                                        <td>
                                            {{ work }}<br>
                                        </td>
                                        <td>
                                            {{ price }}
                                        </td>
                                        {% set counter.value = counter.value + 1 %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <a href="/list_of_completed_works/{{ work.id }}/update">Изменить</a>
                        </div>
                    {% endif %}
                {% endfor %}
                {% if not is_all_belong %}
                    <input type="submit" value="Добавить" class="add_field">
                {% else %}
                    <h2>Выполненных работ <a href="/list_of_completed_works">нет</a>... </h2>
                {% endif %}
            </div>
        </form>
    {% endif %}
{% endblock %}