{% extends 'base.html' %}

{% block title %}Активный договор{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/RemoveItem.js') }}"></script>
    <script>

    </script>
{% endblock %}

{% block body %}
    <h1>Активный договор</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endwith %}
    {% if last_contract != None %}
        <div class="active_contract">
            <div class="active_contract_title">
                <h4>{{ last_contract.name }} ({{ last_contract.date_contract.date().strftime('%d.%m.%Y') }}) на
                    сумму {{ last_contract.sum }}
                    Рублей</h4>
                <span>Действительная сумма договора: {{ contract_price }} Рублей</span>
            </div>
            {% if check_lists_with_price %}
                <strong>Счета:</strong><br>
                {% set counter = namespace(value=1) %}
                {% for price, check in check_lists_with_price %}
                    {% set color = namespace(value='') %}
                    {% if check.sum < price %}
                        {% set color.value = '#ff7675' %}
                    {% else %}
                        {% if check.sum == price %}
                            {% set color.value = '#05c46b' %}
                        {% else %}
                            {% set color.value = '#f6b93b' %}
                        {% endif %}
                    {% endif %}
                    <div class="checks">
                        <div class="check_info">
                            {{ loop.index }})
                            {% if check.date_check == last_contract.date_contract %}
                                <strong>Дата от: </strong>Не указана
                            {% else %}
                                <strong>Дата от: </strong>{{ check.date_check.date().strftime('%d.%m.%Y') }}
                            {% endif %}
                            {% if check.sum == 0 %}
                            <strong>Сумма счёта: </strong>Не указана
                            {% else %}
                            <strong>Сумма счёта: </strong>{{ check.sum }} (<span style="color: {{ color.value }}">{{ price }} сейчас</span>) рублей
                            {% endif %}
                        </div>
                        <div class="check_action_links">
                            <a href="/active_contract/{{ check.id }}/more" class="#">Подробнее</a>
                            {% if check.active %}
                                <a href="/active_contract/{{ check.id }}/close_check"
                                   style="color: darkred !important;">Закрыть счёт</a>
                            {% else %}
                                <a href="/active_contract/{{ check.id }}/reopen_check">Переоткрыть счёт</a>
                            {% endif %}
                        </div>
                    </div>
                    {% set counter.value = counter.value + 1 %}
                {% endfor %}
            {% else %}
                <strong>Счетов нет</strong><br>
            {% endif %}
            {% if not all_checks_active or not check_lists_with_price %}
                <div class="contract_action_links">
                    <a href="/active_contract/{{ last_contract.id }}/new_check">Создать счёт</a><br>
                    <a href="/active_contract/{{ last_contract.id }}/close_contract" style="color: darkred !important;">Закрыть
                        договор</a>
                </div>
            {% endif %}
        </div>
    {% else %}
        <div class="align-center" style="background-color: gray">
            <form method="POST" action="/active_contract">
                <div class="form" id="items">
                    <label>Введите номер договора:<br><input type="text"
                                                             name="name"
                                                             class="enter"
                                                             placeholder="Введите номер" required></label>
                    <label>Введите сумму договора:<br><input type="number"
                                                             name="sum_contract"
                                                             class="enter"
                                                             placeholder="Введите сумму" required></label>
                    <label>Введите дату договора:<br><input type="date"
                                                            name="date_contract"
                                                            class="enter"
                                                            placeholder="Введите дату" required></label>
                    <input type="submit" value="Создать" class="add_btn">
                </div>
            </form>
        </div>

    {% endif %}
{% endblock %}