* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

.all_page {
    min-height: 100vh;
}

:root {
    --main_color: #2C79B3;
    --text-light-color: #ecf0f1;
    --white: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

body a {
    color: #0984e3;
}

.nav-item {
    position: relative;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    background: var(--main_color);
    padding: 0 50px;
    font-size: 18px;
    font-weight: 700;
    color: var(--text-light-color);
    z-index: 100;
    box-shadow: 0 0 10px #888888;
}

.nav-link > *,
.nav-item > *,
.nav-link {
    color: var(--text-light-color);
    position: relative;
    z-index: 101;
    transition: 0.3s;
}

.nav-link:hover > *,
.nav-item:hover > *,
.nav-link:hover {
    color: #a5b1c2;
}

#main-page::after {
    content: "Главная";
}

.nav-link .svg-inline--fa {
    margin-right: 0.5em;
}

.main-item {
    position: relative;
    z-index: 101;
}

.navigation ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.navigation ul .main {
    width: 15%;
}

.nav-item a {
    display: flex;
    justify-content: left;
    align-items: center;
}

a .label {
    line-height: 24px;
    width: auto;
}

.navigation ul .side {
    display: grid;
    gap: 20px;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: auto auto auto auto auto auto;
    width: 85%;
}

header {
    padding: 10px;
}

.navigation .submenu {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    visibility: hidden;
    position: absolute;
    display: block;
    top: -18px;
    left: -3px;
    z-index: 104;
    height: auto;
    min-width: 100%;
    width: 250px;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}

.submenu li {
    background: var(--main_color);
    position: relative;
    z-index: 105;
    padding: 5px 30px;
}

.submenu li:first-child {
    padding-top: 19px;
}

.submenu li:last-child {
    padding-bottom: 15px;
}

.submenu .nav-item .nav-link {
    z-index: 105;
}

.navigation ul .side .nav-item:hover .submenu {
    visibility: visible;
    opacity: 1;
}

.topmenu > li:last-child {
    margin-right: 0;
}

.topmenu > li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.topmenu li:hover .submenu {
    display: block;
    width: 240px !important;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
}

.form {
    padding-top: 0 !important;
}

.main_div {
    width: 70%;
    margin: 80px auto;
    padding: 20px;
    /*border-radius: 10px;*/
    /*background-color: white;*/
    /*border: darkgray solid 2px;*/
    /*box-shadow: 0 0 10px #888888;*/
}

.align-center {
    width: 100%;
}

h1 {
    width: 100%;
    padding: 30px;
    margin: 0 auto;
    background-color: #ffffff;

}

.form {
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
}

td .enter {
    width: 100%;
    margin: 0;
}

th {
    padding: 10px;
}

.enter {
    width: 100%;
    height: 28px;
    margin: 10px 0;
    background-color: white;
    outline: none;
    border: 1px solid #aaa;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
    transition: 0.3s;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 100%;
    color: #444;
}

.enter::placeholder {
    color: #999;
}

.delete_btn {
    border-radius: 4px;
    margin-left: 2%;
    border: darkred solid 1px;
    background: var(--white);
    color: darkred;
    height: 28px;
    width: 28px;
    text-align: center;
    transition: 0.3s;
}

.delete_btn:hover {
    background: darkred;
    color: var(--white);
}

input {
    cursor: pointer;
}

.add_btn,
.btn_clr,
.add_field {
    padding: 10px 15px;
    margin-bottom: 20px;
    transition: 0.3s;
}

.add_btn {
    border-radius: 4px;
    border: darkgreen solid 1px;
    background: var(--white);
    color: darkgreen;
    margin: 7px 0 0 0;
}

.add_btn:hover {
    background: darkgreen;
    color: var(--white);
}

.add_field {
    border-radius: 5px;
    border: darkgoldenrod solid 1px;
    background: var(--white);
    color: darkgoldenrod;
    margin: 7px 0 7px 0;
}

.add_field:hover {
    background: darkgoldenrod;
    color: var(--white);
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
    background-color: #ffffff;
}

th {
    text-align: center;
    background: lightblue;
    border-bottom: 2px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

td {
    text-align: left;
    border: 1px solid black;
    padding: 10px;
}

td a {
    color: var(--main_color);
    font-weight: 900;
}

.ctr .radios {
    margin: 10px 0;
}

.radios span {
    display: inline-block;
    margin: 10px;
}

.line {
    width: 95%;
    height: 2px;
    background: #E4E4E4;
    text-align: center;
    margin: 10px auto;
    display: block;
    border-radius: 1px;
}

.sch_bar {
    background: #ffffff;
    border-radius: 1px;
    display: block;
    /*padding: 30px;*/
}

.ctr {
    text-align: justify-all;
}

.btn_clr {
    border-radius: 4px;
    border: darkred solid 1px;
    background: var(--white);
    color: darkred;
    text-align: center;
}

.btn_clr:hover {
    background: darkred;
    color: var(--white);
}

.add_wrk {
    background: lightblue;
    margin-bottom: 10px;
    border-radius: 1px;
    display: block;
    padding: 10px;
}

.details {
    background: lightblue;
    border-radius: 3px;
    padding: 2px 5px;

}

.sum_details {
    background: linen;
    border-radius: 3px;
    padding: 2px 5px;
}

.div_dtls {
    background: gainsboro;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 2px;
}

td .select2 {
    width: 100% !important;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
}

.btns > * {
    margin: 0 20px;
}

.footer-main {
    background: var(--main_color);
    width: 100%;
    color: var(--text-light-color);
    font-size: 14px;
    box-shadow: 0 0 10px #888888;
}

.footer {
    padding: 20px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.footer-top .footer__elements {
    text-align: inherit;
    width: calc(100% / 3);
}

.footer-top .footer__elements a {
    color: #ffffff;
}

.footer-top .footer__elements.organization {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__elements.organization .left {
    text-align: end;
}

.active_checks,
.closed_checks,
.closed_contract,
.active_contract {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 10px;
    transition: 0.3s;
}

.closed_checks:hover,
.closed_contract:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.closed_checks,
.closed_contract {
    background-color: #ddd;
}

.contract_title,
.contract_title {
    display: block;
    text-align: center;
    text-decoration: underline;
    margin: 20px 0 10px 0;
}

.contract_title a {
    color: inherit;
    transition: 0.2s;
}

.contract_title a:hover {
    opacity: 0.75;
}

.active_contract .active_contract_title h4,
.closed_contract details summary,
.active_contract details summary {
    font-weight: 600;
    font-size: 1.2em;
}

.closed_contract details .contract_body,
.active_contract details .contract_body {
    margin-top: 10px;
}

.active_contract .active_contract_title {
    margin-bottom: 20px;
}

.active_contract .active_contract_title span {
    font-weight: 200;
    font-size: 0.8em;
}

.contract_action_links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.check_action_links {
    display: flex;
    justify-content: end;
}

.check_action_links a {
    margin-left: 20px;
}

.checks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.container_add_btn {
    display: flex;
    justify-content: center;
    align-items: start;
}

.container_add_btn .row_add_btn {
    width: 30px;
    height: 26px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 13px;
    border: 1px solid black;
    color: black;
    transition: 0.3s;
    font-size: 1.4em;
    background-color: white;
    border-top: none;
}

.container_add_btn .row_add_btn:hover {
    color: white;
    background-color: darkgreen;
    border: 1px solid darkgreen;
    border-top: none;
}

.btn_container {
    display: flex;
    justify-content: left;
    margin-bottom: 70px;
}

.btn_container {
    margin-right: 10px;
}

th {
    cursor: default;
}

tr {
    transition: 0.3s;
}

#mytable tr:hover {
    cursor: pointer;
    background-color: #f1f1f1;
}

td.highlight,
.closed_checks.highlight {
    background-color: lightgreen;
}

td {
    transition: 0.3s;
}

.total {
    text-align: right;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 50px;
}

.warning,
.success,
.error {
    background: var(--white);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    margin: 10px auto;
}

.error {
    color: darkred;
    border: darkred solid 1px;
}

.success {
    color: green;
    border: green solid 1px;
}

.warning {
    color: goldenrod;
    border: goldenrod solid 1px;
}