:root {
    --color-footer-main: #2C79B3;
    --color-footer-text: rgba(223, 230, 233,1.0);

    --transition-main: 0.2s;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--color-footer-main);
    padding: 20px 0;
    height: 100px;
}
.footer__left {
    width: 40%;
}
.footer__right {
    width: 40%;
}
.footer__right .title {
    text-align: center;
    font-size: 1.4em;
    color: #ecf0f1;
}
.footer__right .auther {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.auther .about-auther {
    width: 50%;
    color: var(--color-footer-text);
}
.auther .about-auther .auther__mail a {
    color: var(--color-footer-text);
    opacity: 0.7;
    transition: var(--transition-main);
}
.auther__full-name,
.auther__mail {
    height: 50%;
    letter-spacing: 1px;
    text-align: right;
}
.auther__full-name {
    opacity: 0.7;
}
.auther__mail a {
    text-decoration: none;
}
.auther .about-auther .auther__mail a:hover {
    color: var(--color-footer-text);
    opacity: 1;
}
.auther .auther__social-networks {
    width: 50%;
    padding-left: 30px;
}
.auther .auther__social-networks svg {
    font-size: 48px;
    margin-left: 10px;
    opacity: 0.7;
    color: var(--color-footer-text);
    transition: var(--transition-main);
}
.auther .auther__social-networks svg:hover {
    opacity: 1;
}