{% extends 'base.html' %}

{% block title %}Изменить картридж{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/SelectInput.js') }}"></script>
    <script src="{{ url_for('static', filename='js/RemoveItem.js') }}"></script>
    <script>
        let items = {{ counter_models }};

        function AddItem() {
            const table = document.getElementById("table").getElementsByTagName('tbody')[0];
            items++;
            let id = "d" + items
            let newRow = table.insertRow()
            newRow.setAttribute('id', id)
            let td = document.createElement("td")
            td.setAttribute('style', 'border: none;')
            td.innerHTML = `
                <select name="model"
                        class="select"
                        id="${items}"
                        placeholder="Выберите модель" required>
                    {% for el in list_models %}
                        {% if not (el.model in list_models) %}
                            <option>{{ el.model }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <input type="button" value="✕" class="delete_btn" onclick="RemoveItem('d${items}');" id="r${items}">`;
            newRow.appendChild(td)


            $('select').select2({
                placeholder: "Выберите",
                allowClear: true
            });
        }
    </script>
{% endblock %}

{% block body %}
    <h1>Картридж:</h1>
    {% for msg in get_flashed_messages() %}
        <p class="msg"><strong>{{ msg }}</strong></p>
    {% endfor %}
    <form method="POST" id="form">
        <div class=form id="items">
            <table style="border: none" id="table">
                <colgroup>
                    <col span="1" style="width: 50%;">
                    <col span="1" style="width: 50%;">
                </colgroup>
                <tbody>
                <tr>
                    <td style="border: none">
                        <label for="1">Модели: </label>
                    </td>
                    <td style="border: none">
                        <label for="number">Номер: </label>
                    </td>
                </tr>
                {% for model in cartridge.cartridge_models %}
                    <tr>
                        <td style="border: none" id="d{{ loop.index }}">
                            {% if loop.index == 1 %}
                                <select name="model"
                                        class="select" required>
                                    {% for el in list_models %}
                                        {% if model.model == el.model %}
                                            <option selected>{{ el.model }}</option>
                                        {% else %}
                                            <option>{{ el.model }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            {% else %}
                                <select name="model"
                                        class="select" required>
                                    {% for el in list_models %}
                                        {% if model.model == el.model %}
                                            <option selected>{{ el.model }}</option>
                                        {% else %}
                                            <option>{{ el.model }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <input type="button" value="✕" class="delete_btn"
                                       onclick="RemoveItem('d{{ loop.index }}');" id="r{{ loop.index }}">
                            {% endif %}
                        </td>
                        {% if loop.index == 1 %}
                            <td style="border: none;  vertical-align: top">
                                <input type="number"
                                       name="number"
                                       id="number"
                                       class="enter"
                                       placeholder="Введите номер"
                                       value="{{ cartridge.number }}">
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="btns">
                <input type="button" value="Добавить поле" class="add_field" onclick="AddItem();" id="add"><br>
            </div>
            <input type="submit" value="Обновить" class="add_btn">
        </div>
    </form>
{% endblock %}