{% extends 'base.html' %}

{% block title %}Статусы картриджа{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/TableSearch.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>
        Статусы {{ cartridge.number }} картриджа
    </h1>
    {% if statuses|length > 0 %}
        <div class="sch_bar">
            <table style="border: none">
                <colgroup>
                    <col span="1" style="width: 40%;">
                    <col span="1" style="width: 60%;">
                </colgroup>
                <tbody>
                <tr>
                    <td class="ctr" style="border: none">
                        <strong>Поиск по таблице:</strong>
                    </td>
                    <td class="ctr" style="border: none">
                        <strong>Поиск по статусу:</strong>
                    </td>
                </tr>
                <tr>
                    <td class="ctr" style="border: none">
                        <input type="text" placeholder="Начните вводить" id="search" class="enter"><br>
                    </td>
                    <td class="ctr" style="border: none">
                        <div class="radios">
                            <span>
                                <input type="radio" name="status" value="{{ StatusSettings.Cartridge.in_reserve }}">
                                <label>{{ StatusSettings.Cartridge.in_reserve }}</label>
                            </span>
                            <span>
                                <input type="radio" name="status" value="{{ StatusSettings.Cartridge.accepted_for_refuel }}">
                                <label>{{ StatusSettings.Cartridge.accepted_for_refuel }}</label>
                            </span>
                            <span>
                                <input type="radio" name="status" value="{{ StatusSettings.Cartridge.in_refueling }}">
                                <label>{{ StatusSettings.Cartridge.in_refueling }}</label>
                            </span>
                            <span>
                                <input type="radio" name="status" value="{{ StatusSettings.Cartridge.in_division }}">
                                <label>{{ StatusSettings.Cartridge.in_division }}</label>
                            </span>
                            <span>
                                <input type="radio" name="status" value="{{ StatusSettings.Cartridge.deleted }}">
                                <label>{{ StatusSettings.Cartridge.deleted }}</label>
                            </span>
                            <span>
                                <input type="radio" name="status" value="{{ StatusSettings.Cartridge.created }}">
                                <label>{{ StatusSettings.Cartridge.created }}</label>
                            </span>
                            <span>
                                <input type="radio" name="status" value="{{ StatusSettings.Cartridge.restored }}">
                                <label>{{ StatusSettings.Cartridge.restored }}</label>
                            </span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <input type="button" id="btn_off" value="Снять выделение" class="btn_clr">
        </div>
        <table id="mytable">
            <colgroup>
                <col span="1" style="width: 5%;">
                <col span="1" style="width: 35%;">
                <col span="1" style="width: 30%;">
                <col span="1" style="width: 30%;">
            </colgroup>
            <thead>
            <tr>
                <th>№</th>
                <th>Дата<br><input type="text" placeholder="Начните вводить" id="sch2" class="enter"></th>
                <th>Пользователь<br><input type="text" placeholder="Начните вводить" id="sch3" class="enter"></th>
                <th>Статус</th>
            </tr>
            </thead>
            <tbody>
            {% set counter = namespace(value=1) %}
            {% for status in statuses %}
                <tr>
                    <td class="1">
                        {{ counter.value }}
                    </td>
                    <td class="2">
                        {{ status.date.date().strftime("%d.%m.%Y") }} {{ status.date.time().strftime("%H:%M") }}
                    </td>
                    <td class="3">
                        {{ status.user }}
                    </td>
                    <td class="4">
                        {{ status.action }}
                    </td>
                </tr>
                {% set counter.value = counter.value + 1 %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>NAN</h2>
    {% endif %}
{% endblock %}