{% extends 'base.html' %}

{% block title %}Удалённые картриджи{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/TableSearchForAll.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Удалённые картриджи</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endwith %}
    {% if cartridges|length > 0 %}
        <table style="width: 100%" id="mytable">
            <colgroup>
                <col span="1" style="width: 5%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 40%;">
                <col span="1" style="width: 20%;">
            </colgroup>
            <thead>
            <tr>
                <th>№</th>
                <th>Номер</th>
                <th>Модели</th>
                <th></th>
            </tr>
            <tr style="background: lightblue">
                <th><i class="fa-solid fa-magnifying-glass"></i></th>
                <th class="search-table-item"><input type="text" placeholder="Начните вводить" id="sch2" class="enter">
                </th>
                <th class="search-table-item"><input type="text" placeholder="Начните вводить" id="sch3" class="enter">
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody id="searched-fields">
            {% set counter = namespace(value=1) %}
            {% for cartridge in cartridges %}
                {% if (cartridge.efficiency == 0) %}
                    <tr>
                        <td class="1">
                            {{ counter.value }}
                        </td>
                        <td class="sorted-field">
                            {{ cartridge.number }}
                        </td>
                        <td class="sorted-field">
                            {% for model in cartridge.cartridge_models %}
                                {{ loop.index }}) {{ model.model }}<br>
                            {% endfor %}
                        </td>
                        <td class="4">
                            <a href="/cartridge/{{ cartridge.id }}/resume">Восстановить</a>
                            <a href="/cartridge/{{ cartridge.id }}/statuses">Статусы</a>
                        </td>
                    </tr>
                    {% set counter.value = counter.value + 1 %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2 style="text-align: center; color: #8395a7">
            Ни один картридж ещё не удалён...
        </h2>
    {% endif %}
{% endblock %}