{% extends 'base.html' %}

{% block title %}Удалённые принтеры{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/TableSearchForAll.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Удалённые принтеры</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endwith %}
    {% if printers|length > 0 %}
        <table id="mytable">
            <colgroup>
                <col span="1" style="width: 5%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 30%;">
                <col span="1" style="width: 30%;">
            </colgroup>
            <thead>
            <tr>
                <th>№</th>
                <th>Имя</th>
                <th>Инвентарный номер</th>
                <th></th>
            </tr>
            <tr style="background: lightblue">
                <th><i class="fa-solid fa-magnifying-glass"></i></th>
                <th class="search-table-item"><input type="text" placeholder="Начните вводить" id="sch2" class="enter">
                </th>
                <th class="search-table-item"><input type="text" placeholder="Начните вводить" id="sch3" class="enter">
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody id="searched-fields">
            {% set counter = namespace(value=1) %}
            {% for printer in printers %}
                <tr>
                    <td class="1">
                        {{ counter.value }}
                    </td>
                    <td class="sorted-field">
                        {{ printer.name }}
                    </td>
                    <td class="sorted-field">
                        {{ printer.num_inventory }}
                    </td>
                    <td class="5">
                        <a href="/printer/{{ printer.id }}/resume">Восстановить</a>
                        <a href="/printer/{{ printer.id }}/statuses">Статусы</a>
                    </td>
                </tr>
                {% set counter.value = counter.value + 1 %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2 style="text-align: center; color: #8395a7">
            Ни один принтер ещё не удалён...
        </h2>
    {% endif %}
{% endblock %}