{% extends 'base.html' %}

{% block title %}Статусы принтера{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/TableSearchForAll.js') }}"></script>
    <script src="{{ url_for('static', filename='js/SelectInput.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>{{ printer.name }} статусы: </h1>
    {% if not printer.efficiency %}
        <a href="/printer/{{ printer.id }}/resume">Восстановить</a>
    {% endif %}
    {% if statuses|length > 0 %}
        <table id="mytable">
            <colgroup>
                <col span="1" style="width: 5%;">
                <col span="1" style="width: 35%;">
                <col span="1" style="width: 30%;">
                <col span="1" style="width: 30%;">
            </colgroup>
            <thead>
            <tr>
                <th>№</th>
                <th>Дата</th>
                <th>Пользователь</th>
                <th>Статус</th>
            </tr>
            <tr>
                <th><i class="fa-solid fa-magnifying-glass"></i></th>
                <th class="search-table-item">
                    <input type="text" placeholder="Начните вводить" id="sch2" class="enter">
                </th>
                <th class="search-table-item">
                    <select name="user-search"
                            class="select enter"
                            onchange="sortTable();">
                        <option selected></option>
                        {% for user in users %}
                            <option value="{{ user.username }}">{{ user.username }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th class="search-table-item">
                    <select type="text" id="sch2_s" class="select enter" onchange="sortTable();">
                        <option></option>
                        <option>{{ StatusSettings.Printer.in_reserve }}</option>
                        <option>{{ StatusSettings.Printer.accepted_for_repair }}</option>
                        <option>{{ StatusSettings.Printer.in_repair }}</option>
                        <option>{{ StatusSettings.Printer.in_division }}</option>
                        <option>{{ StatusSettings.Printer.restored }}</option>
                        <option>{{ StatusSettings.Printer.created }}</option>
                        <option>{{ StatusSettings.Printer.deleted }}</option>
                        <option>{{ StatusSettings.Printer.updated }}</option>
                    </select>
                </th>
            </tr>
            </thead>
            <tbody id="searched-fields">
            {% set counter = namespace(value=1) %}
            {% for status in statuses %}
                <tr>
                    <td class="1">
                        {{ counter.value }}
                    </td>
                    <td class="sorted-field">
                        {{ status.date.date().strftime("%d.%m.%Y") }} {{ status.date.time().strftime("%H:%M") }}
                    </td>
                    <td class="sorted-field">
                        {{ status.user }}
                    </td>
                    <td class="sorted-field">
                        {{ status.action }}
                    </td>
                </tr>
                {% set counter.value = counter.value + 1 %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>NAN</h2>
    {% endif %}
{% endblock %}