{% extends 'base.html' %}

{% block title %}Add Models{% endblock %}

{% block script %}
    <script>
        let items = {{ counter_works }};

        function AddItem() {
            const table = document.getElementById("table").getElementsByTagName('tbody')[0];
            items++;
            let id = "d" + items
            let newRow = table.insertRow()
            newRow.setAttribute('id', id)
             let tdFirst = document.createElement("td")
            tdFirst.setAttribute('style', 'border: none;')
            let tdSecond = document.createElement("td")
            tdSecond.setAttribute('style', 'border: none;')
            let tdThird = document.createElement("td")
            tdThird.setAttribute('style', 'border: none;')
            tdFirst.innerHTML = `
                <label for="${items}">${items} </label>`;
            tdSecond.innerHTML = `
                <input id="${items}"
                       type="text"
                       value=""
                       class="enter"
                       name="works">`;
            tdThird.innerHTML = `
                <input type="button" value="✕" class="delete_btn" onclick="RemoveItem('d${items}');" id="r${items}">`;

            newRow.appendChild(tdFirst)
            newRow.appendChild(tdSecond)
            newRow.appendChild(tdThird)
        }

        function RemoveItem(id_div) {
            const div = document.getElementById(id_div);
            div.remove();
            items--;
        }

    </script>
{% endblock %}

{% block body %}
    <h1>Типы работ:</h1>
    <div class="align-center">
        <form method="POST">
            <div class="form" id="items">
                {% for message in get_flashed_messages() %}
                    <p style="color: darkred"><strong>{{ message }}</strong></p>
                {% endfor %}

                {% set counter = namespace(value=1) %}
                <table style="border: none" id="table">
                    <colgroup>
                        <col span="1" style="width: 5%;">
                        <col span="1" style="width: 90%;">
                        <col span="1" style="width: 5%;">
                    </colgroup>
                    <tbody>
                    {% for work in all_works_cartridges %}
                        <tr id="d{{ loop.index }}">
                            <td style="border: none">
                                <label for="{{ loop.index }}">{{ counter.value }} </label>
                            </td>
                            <td style="border: none">
                                <input id="{{ loop.index }}"
                                       type="text"
                                       value="{{ work.work }}"
                                       name="model"
                                       class="enter">
                            </td>
                            <td style="border: none">
                                <input type="button" value="✕" class="delete_btn" onclick="RemoveItem('d{{ loop.index }}');" id="r{{ loop.index }}">
                            </td>
                            {% set counter.value = counter.value + 1 %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <input type="button" value="Добавить поле" class="add_field" onclick="AddItem();" id="add"><br>
                <input type="submit" value="Обновить" class="add_btn">
            </div>
        </form>
    </div>

{% endblock %}



