{% extends 'base.html' %}

{% block CSS %}{% endblock %}
{% block title %}All history{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/SelectInput.js') }}"></script>
    <script src="{{ url_for('static', filename='js/TableSearch.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>История статусов</h1>
    {% for msg in get_flashed_messages() %}
        <div class="msg">
            <h2>{{ msg }}</h2>
        </div>
    {% endfor %}
    <div class="sch_bar">
        <div class="ctr">
            <label for="search"><strong>Поиск по таблице:</strong></label><br>
            <input type="text" placeholder="Начните вводить" id="search" class="enter"><br>
        </div>
    </div>
    <table id="mytable">
        <colgroup>
            <col span="1" style="width: 5%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 15%;">
        </colgroup>
        <thead>
        <tr>
            <th>№</th>
            <th>Действие</th>
            <th>Тип</th>
            <th>Имя</th>
            <th>Дата</th>
            <th>Пользователь</th>
        </tr>
        <tr style="background: lightblue">
            <th><i class="fa-solid fa-magnifying-glass"></i></th>
            <th>
                <select type="text" id="sch2_s" class="select">
                    <option></option>
                    <option>Создан</option>
                    <option>Пополнен</option>
                    <option>Переоткрыт</option>
                    <option>Закрыт</option>
                    <option>Изменён</option>
                    <option>Удалён</option>
                    <option>Восстановлен</option>
                    <option>Принят в заправку</option>
                    <option>В заправке</option>
                    <option>В резерве</option>
                    <option>В подразделении</option>
                    <option>Принят в ремонт</option>
                    <option>В ремонте</option>
                </select>
            </th>
            <th>
                <select type="text" id="sch3_s" class="select">
                    <option></option>
                    <option>{{ StatusSettings.Types.work_list }}</option>
                    <option>{{ StatusSettings.Types.check }}</option>
                    <option>{{ StatusSettings.Types.contract }}</option>
                    <option>{{ StatusSettings.Types.cartridge }}</option>
                    <option>{{ StatusSettings.Types.printer }}</option>
                </select>
            </th>
            <th><input type="text" placeholder="Начните вводить" id="sch4" class="enter"></th>
            <th><input type="text" placeholder="Начните вводить" id="sch5" class="enter"></th>
            <th><input type="text" placeholder="Начните вводить" id="sch6" class="enter"></th>
        </tr>
        </thead>
        <tbody>
        {% for htry in all_htry %}
            <tr>
                <td class="1">{{ loop.index }}</td>
                <td class="2">
                    {{ htry.action }}
                </td>
                <td class="3">
                    {{ htry.type }}
                </td>
                <td class="4">
                    {{ htry.name }}
                </td>
                <td class="5">
                    {{ htry.date.date().strftime("%d.%m.%Y") }} {{ htry.date.time().strftime("%H:%M") }}
                </td>
                <td class="6">
                    {{ htry.user }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}