<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="{% block CSS %}{% endblock %}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons8-печать-50.png') }}">

    {# Base CSS loads #}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Base.css') }}">

    {#  Link jQuery  #}
    <script src="{{ url_for('static', filename='assets/jQuery/jquery-3.6.4.js') }}"></script>

    {#  Link Select2  #}
    <script src="{{ url_for('static', filename='assets/select2-develop/dist/js/select2.js') }}"></script>
    <link href="{{ url_for('static', filename='assets/select2-develop/dist/css/select2.css') }}" rel="stylesheet"/>

    {#  Google Fonts Roboto  #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap"
          rel="stylesheet">

    {#  Link FontAwersome #}
    <script defer src="{{ url_for('static', filename='assets/fontawesome/js/brands.js') }}"></script>
    <script defer src="{{ url_for('static', filename='assets/fontawesome/js/solid.js') }}"></script>
    <script defer src="{{ url_for('static', filename='assets/fontawesome/js/fontawesome.js') }}"></script>
    <link href="{{ url_for('static', filename='assets/fontawesome/css/fontawesome.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/fontawesome/css/brands.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/fontawesome/css/solid.css') }}" rel="stylesheet">

    {# Link Chart.js #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="all_page">
    <div class="navigation">
        <ul>
            <div class="main">
                <li class="navigation-item main-item">
                    <a href="/" class="nav-link">Главная</a>
                </li>
            </div>
            <div class="side">
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a href="/printers" class="nav-link">
                            <div class="label">Принтеры</div>
                            <i class="fa-solid fa-angle-down"></i>
                        </a>
                        <ul class="submenu">
                            <li class="nav-item">
                                <a href="/brought_a_printer" class="nav-link">Принесённые принтеры</a>
                                <hr style="margin-top: 10px; border-color: #2e86de">
                            </li>
                            <li class="nav-item">
                                <a href="/repairing" class="nav-link">Отправить в ремонт</a>
                                <hr style="margin-top: 10px; border-color: #2e86de">
                            </li>
                            <li class="nav-item">
                                <a href="/reception_from_a_repairing" class="nav-link">Принять из ремонта</a>
                                <hr style="margin-top: 10px; border-color: #2e86de">
                            </li>
                            <li class="nav-item">
                                <a href="/issuance_printers" class="nav-link">Выдать в подразделение</a>
                                <hr style="margin-top: 10px; border-color: #2e86de">
                            </li>
                            <li class="nav-item">
                                <a href="/deleted_printers" class="nav-link">Удалённые принтеры</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="/cartridges" class="nav-link">
                            <div class="label">Картриджи</div>
                            <i class="fa-solid fa-angle-down"></i>
                        </a>
                        <ul class="submenu">
                            <li class="nav-item">
                                <a href="/brought_a_cartridge" class="nav-link">Принесённые картриджи</a>
                                <hr style="margin-top: 10px; border-color: #2e86de">
                            </li>
                            <li class="nav-item">
                                <a href="/refueling" class="nav-link">Отправить в заправку</a>
                                <hr style="margin-top: 10px; border-color: #2e86de">
                            </li>
                            <li class="nav-item">
                                <a href="/reception_from_a_refuelling" class="nav-link">Принять с заправки</a>
                                <hr style="margin-top: 10px; border-color: #2e86de">
                            </li>
                            <li class="nav-item">
                                <a href="/issuance_cartridges" class="nav-link">Выдать в подразделение</a>
                                <hr style="margin-top: 10px; border-color: #2e86de">
                            </li>
                            <li class="nav-item">
                                <a href="/deleted_cartridges" class="nav-link">Удалённые картриджи</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">
                            <div class="label">Администрирование</div>
                            <i class="fa-solid fa-angle-down"></i>
                        </a>
                        <ul class="submenu">
                            <li class="nav-item">
                                <a href="/add_models" class="nav-link">Модели</a>
                                <hr style="margin-top: 10px; border-color: #2e86de">
                            </li>
                            {% if current_user.is_boss %}
                                <li class="nav-item">
                                    <a href="/add_works_cartridges" class="nav-link">Тип работ картриждей</a>
                                    <hr style="margin-top: 10px; border-color: #2e86de">
                                </li>
                                <li class="nav-item">
                                    <a href="/add_works_printers" class="nav-link">Тип работ принтеров</a>
                                    <hr style="margin-top: 10px; border-color: #2e86de">
                                </li>
                                <li class="nav-item">
                                    <a href="/buildings" class="nav-link">Корпусы</a>
                                    <hr style="margin-top: 10px; border-color: #2e86de">
                                </li>
                                <li class="nav-item">
                                    <a href="/divisions" class="nav-link">Подразделения</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="/all_history" class="nav-link">Вся история</a>
                    </li>
                    {% if current_user.is_boss %}
                        <li class="nav-item">
                            <a href="/progress_report" class="nav-link">Отчёт</a>
                        </li>
                        <li class="nav-item">
                            <a href="/list_of_completed_works" class="nav-link">Выполненные работы</a>
                        </li>
                        <li class="nav-item">
                            <a href="/active_contract" class="nav-link">Активный договор</a>
                        </li>
                    {% endif %}
                {% endif %}
                <li class="nav-item">
                    <a href="{{ url_for('auth_urls.profile') }}" class="nav-link">
                        <div class="label">Профиль</div>
                        <i class="fa-solid fa-angle-down"></i>
                    </a>
                    <ul class="submenu">
                        {% if current_user.is_authenticated %}
                            <li class="nav-item">
                                <a href="/logout" class="nav-link">Выход</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="/login" class="nav-link">Вход</a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            </div>
        </ul>
    </div>
    <div class="main_div">
        {% block body %}

        {% endblock %}
    </div>
</div>

<footer>
    <div class="footer-main">
        <div class="footer">
            <div class="footer-top">
                <div class="footer__elements">
                    <div><strong>Контактная информация:</strong></div>
                    <div>Почта: ******@vogu35.ru</div>
                    <div>Номер телефона: (****) **-**-**</div>
                </div>
                <div class="footer__elements organization">
                    <div class="left">
                        <div>
                            Сайт разработан отделом<br>
                            <strong>Информационно-коммуникационных ресурсов и технологий ВоГУ</strong>
                        </div>
                        <div>тел. 72-02-92</div>
                    </div>
                    <div class="right">
                        <div class="image">
                            <img src="{{ url_for('static', filename='images/ИКР&Т.png') }}" alt="ИКР&Т">
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="footer-bottom__element">

                </div>
            </div>
        </div>
    </div>
</footer>
</body>
{% block script %}{% endblock %}
</html>