{% extends 'base.html' %}

{% block title %}Cartridges{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/RemoveItem.js') }}"></script>
    <script src="{{ url_for('static', filename='js/SelectInput.js') }}"></script>
    <script src="{{ url_for('static', filename='js/TableSearch.js') }}"></script>

    <script>
        let items = 1;

        function AddItem() {
            const table = document.getElementById("table").getElementsByTagName('tbody')[0];
            items++;
            let id = "d" + items
            let newRow = table.insertRow()
            newRow.setAttribute('id', id)
            let td = document.createElement("td")
            td.setAttribute('style', 'border: none;')
            td.innerHTML = `
                <select name="model"
                        class="select"
                        id="${items}"
                        placeholder="Выберите модель" required>
                    {% for el in list_models %}
                        {% if not (el.model in list_models) %}
                            <option>{{ el.model }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <input type="button" value="✕" class="delete_btn" onclick="RemoveItem('d${items}');" id="r${items}">`;
            newRow.appendChild(td)


            $('select').select2({
                placeholder: "Выберите",
                allowClear: true
            });
        }
    </script>
{% endblock %}

{% block body %}
    <h1>Картриджы:</h1>
    <div class="align-center">
        <form method="POST">
            <div class="form" id="items">
                {% for msg in get_flashed_messages() %}
                    <div class="msg">
                        {{ msg }}
                    </div>
                {% endfor %}
                <table style="border: none" id="table">
                    <colgroup>
                        <col span="1" style="width: 50%;">
                        <col span="1" style="width: 50%;">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td style="border: none">
                            <label for="1">Модели: </label>
                        </td>
                        <td style="border: none">
                            <label for="number">Номер: </label>
                        </td>
                    </tr>
                    <tr>
                        <td style="border: none" id="d1">
                            <select name="model"
                                    class="select"
                                    id="1" required>
                                {% for el in list_models %}
                                    {% if not (el.model in list_models) %}
                                        <option>{{ el.model }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td style="border: none;  vertical-align: top">
                            <input type="number"
                                   name="number"
                                   id="number"
                                   class="enter"
                                   placeholder="Введите номер"><br>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <input type="hidden" name="user" value="{{ current_user.login }}">
                <div class="btns">
                    <input type="button" value="Добавить поле" class="add_field" onclick="AddItem();" id="add"><br>
                    <input type="submit" value="Добавить" class="add_btn">
                </div>
            </div>
        </form>
    </div>
    {% if cartridges|length > 0 %}
        <div class="sch_bar">
            <table style="border: none">
                <colgroup>
                    <col span="1" style="width: 40%;">
                    <col span="1" style="width: 60%;">
                </colgroup>
                <tbody>
                <tr>
                    <td class="ctr" style="border: none">
                        <strong>Поиск по таблице:</strong>
                    </td>
                    <td class="ctr" style="border: none">
                        <strong>Поиск по статусу:</strong>
                    </td>
                </tr>
                <tr>
                    <td class="ctr" style="border: none">
                        <input type="text" placeholder="Начните вводить" id="search" class="enter"><br>
                    </td>
                    <td class="ctr" style="border: none">
                        <div class="radios">
                            <span>
                                <input type="radio" name="status" value="в резерве"><label>В резерве</label>
                            </span>
                            <span>
                                <input type="radio" name="status"
                                       value="принят в заправку"><label>Принят в заправку</label>
                            </span>
                            <span>
                                <input type="radio" name="status" value="в заправке"><label>В заправке</label>
                            </span>
                            <span>
                                <input type="radio" name="status" value="выдан"><label>Выдан</label>
                            </span>
                            <span>
                                <input type="radio" name="status" value="восстановлен"><label>Восстановлен</label>
                            </span>
                            <span>
                                <input type="radio" name="status" value="создан"><label>Создан</label>
                            </span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <input type="button" id="btn_off" value="Снять выделение" class="btn_clr">
        </div>
        <table style="width: 100%" id="mytable">
            <colgroup>
                <col span="1" style="width: 5%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 30%;">
                <col span="1" style="width: 25%;">
                <col span="1" style="width: 25%;">
            </colgroup>
            <thead>
            <tr>
                <th>№</th>
                <th>Номер</th>
                <th>Модели</th>
                <th>Статус</th>
                <th>Действия</th>
            </tr>
            <tr style="background: lightblue">
                <th><i class="fa-solid fa-magnifying-glass"></i></th>
                <th><input type="text" placeholder="Начните вводить" id="sch2" class="enter"></th>
                <th><input type="text" placeholder="Начните вводить" id="sch3" class="enter"></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% set counter = namespace(value=1) %}
            {% for cartridge in cartridges %}
                {% if (cartridge.efficiency != 0) %}
                    <tr>
                        <td class="1">
                            {{ counter.value }}
                        </td>
                        <td class="2">
                            {{ cartridge.number }}
                        </td>
                        <td class="3">
                            {% for model in cartridge.cartridge_models %}
                                {{ loop.index }}) {{ model.model }}<br>
                            {% endfor %}
                        </td>
                        <td class="4">
                            {{ cartridge.status }}
                        </td>
                        <td class="5">
                            <a href="/cartridge/{{ cartridge.id }}/update">Изменить</a>
                            <a href="/cartridge/{{ cartridge.id }}/delete">Удалить</a>
                            <a href="/cartridge/{{ cartridge.id }}/statuses">Статусы</a>
                        </td>
                    </tr>
                    {% set counter.value = counter.value + 1 %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>Картриджей пока что нету</h1>
    {% endif %}
{% endblock %}
