{% extends 'base.html' %}

{% block title %}Deleted Cartridges{% endblock %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/TableSearch.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Удалённые картриджи</h1>
    {% if cartridges|length > 0 %}
        <label for="search">Поиск по таблице:</label><br>
        <input type="text" placeholder="Начните вводить" id="search" class="enter"><br>
        <table style="width: 100%" id="mytable">
            <colgroup>
                <col span="1" style="width: 5%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 40%;">
                <col span="1" style="width: 20%;">
            </colgroup>
            <thead>
            <tr>
                <th>№</th>
                <th>Номер<br><input type="text" placeholder="Начните вводить" id="sch2" class="enter"><br></th>
                <th>Модели<br><input type="text" placeholder="Начните вводить" id="sch3" class="enter"><br></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% set counter = namespace(value=1) %}
            {% for cartridge in cartridges %}
                {% if (cartridge.efficiency == 0) %}
                    <tr>
                        <td class="1">
                            {{ counter.value }}
                        </td>
                        <td class="2">
                            {{ cartridge.number }}
                        </td>
                        <td class="3">
                            {% for model in cartridge.cartridge_models %}
                                {{ loop.index }}) {{ model.model }}<br>
                            {% endfor %}
                        </td>
                        <td class="4">
                            <a href="/cartridge/{{ cartridge.id }}/resume">Восстановить</a>
                            <a href="/cartridge/{{ cartridge.id }}/statuses">Статусы</a>
                        </td>
                    </tr>
                    {% set counter.value = counter.value + 1 %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>NAN</h1>
    {% endif %}
{% endblock %}