{% extends 'base.html' %}


{% block title %}Issuance cartridges{% endblock %}


{% block script %}
    <script src="{{ url_for('static', filename='js/RemoveItem.js') }}"></script>
    <script src="{{ url_for('static', filename='js/SelectInput.js') }}"></script>
    <script src="{{ url_for('static', filename='js/TableSearch.js') }}"></script>
    <script>
        let items = 1;

        function AddItem() {
            const table = document.getElementById("table").getElementsByTagName('tbody')[0];
            items++;
            let id = "d" + items
            let newRow = table.insertRow()
            newRow.setAttribute('id', id)
            let td = document.createElement("td")
            td.setAttribute('style', 'border: none; vertical-align: top')
            td.innerHTML = `
                <select type="number"
                    name="num_inventory"
                    id="${items}"
                    class="select"
                    required>
                {% for cartridge in cartridges %}

                {% if cartridge.status == StatusSettings.Cartridge.in_reserve %}
                        <option value="{{ cartridge.number }}">
                            {{ cartridge.number }}
                            <strong>||</strong>
                            {% for model in cartridge.cartridge_models %}
                                {{ model.model }}
                            {% endfor %}
                        </option>
                    {% endif %}
                {% endfor %}
                </select><input type="button" value="✕" class="delete_btn" onclick="RemoveItem('d${items}');" id="r${items}"><br>`;
            newRow.appendChild(td)


            $('select').select2({
                placeholder: "Выберите",
                allowClear: true
            });
        }
    </script>
{% endblock %}


{% block body %}
    <h1>Выдача в подразделение:</h1>
    <div class="align-center">
        <form method="POST" id="1">
            <div class="form" id="items">
                {% for msg in get_flashed_messages() %}
                    <p class="msg"><strong>{{ msg }}</strong></p>
                {% endfor %}
                <table style="border: none" id="table">
                    <colgroup>
                        <col span="1" style="width: 50%;">
                        <col span="1" style="width: 50%;">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td style="border: none; vertical-align: top" id="d1">
                            <label for="printer">Имя/Инвентарный номер принтера: </label><br>
                            <select name="printer_id"
                                    id="printer"
                                    class="enter"
                                    required>
                                {% for printer in printers %}
                                    <option value="{{ printer.id }}">{{ printer.name }}/{{ printer.num_inventory }}</option>
                                {% endfor %}
                            </select><br>
                        </td>
                        <td style="border: none" rowspan="3">
                            <label for="location">Подразделение: </label><br>
                            <select name="location"
                                    id="location"
                                    class="select" required>
                                {% for d in divisions %}
                                    <option>{{ d.division }}</option>
                                {% endfor %}
                            </select><br>

                            <label for="learning_campus">Учебный корпус: </label><br>
                            <select name="learning_campus"
                                    id="learning_campus"
                                    class="select" required>
                                {% for b in buildings %}
                                    <option>{{ b.building }}</option>
                                {% endfor %}
                            </select><br>

                            <label for="cabinet">Кабинет: </label><br>
                            <input type="text"
                                   name="cabinet"
                                   id="cabinet"
                                   class="enter"
                                   placeholder="Введите кабинет"
                                   required>
                        </td>
                    </tr>
                    <tr id="d1">
                        <td style="border: none">
                            <label for="1">Номер картриджа<strong>||</strong>Модели: </label><br>
                            <select type="number"
                                    name="cartridge_number"
                                    id="1"
                                    class="select"
                                    required>
                                {% for cartridge in cartridges %}
                                    {% if cartridge.status == StatusSettings.Cartridge.in_reserve %}
                                        <option value="{{ cartridge.number }}">
                                            {{ cartridge.number }}
                                            <strong>||</strong>
                                            {% for model in cartridge.cartridge_models %}
                                                {{ model.model }}
                                            {% endfor %}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <input type="hidden" name="user" value="{{ current_user.username }}">
                <div class="btns">
                    <input type="button" value="Добавить поле" class="add_field" onclick="AddItem();" id="add"><br>
                    <input type="submit" value="Добавить" class="add_btn">
                </div>
                <input type="hidden" name="id_form" value="1">
            </div>
        </form>
    </div>
    <form method="POST" id="2">
        <input type="hidden" name="id_form" value="2">
        <div class="sch_bar">
            <label for="search"><strong>Поиск по таблице:</strong></label><br>
            <input type="text" placeholder="Начните вводить" id="search" class="enter"><br>
        </div>
        <table style="width: 100%" id="mytable">
            <colgroup>
                <col span="1" style="width: 5%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 30%;">
                <col span="1" style="width: 30%;">
            </colgroup>
            <thead>
            <tr>
                <th>№</th>
                <th>Номер</th>
                <th>Модели</th>
                <th>Приняли с</th>
            </tr>
            <tr style="background: lightblue">
                <th><i class="fa-solid fa-magnifying-glass"></i></th>
                <th><input type="text" placeholder="Начните вводить" id="sch2" class="enter"></th>
                <th><input type="text" placeholder="Начните вводить" id="sch3" class="enter"></th>
                <th><input type="text" placeholder="Начните вводить" id="sch4" class="enter"></th>
            </tr>
            </thead>
            <tbody>
            {% set counter = namespace(value=1) %}
            {% for cartridge in cartridges %}
                {% if cartridge.status == StatusSettings.Cartridge.in_reserve %}
                    {% if BroughtACartridge.query.filter(BroughtACartridge.cartridge_number_id == cartridge.id).all()|length > 0 %}
                        {% set brought_a_cartridge = BroughtACartridge.query.filter(BroughtACartridge.cartridge_number_id == cartridge.id).all()[-1] %}
                        {% set printer = Printer.query.filter(Printer.id == brought_a_cartridge.printer_id).first() %}
                        {% if (cartridge.efficiency != 0) and
                            BroughtACartridge.query.filter(BroughtACartridge.cartridge_number_id == cartridge.id).all()|length > 0 and
                                printer != None%}
                            <tr>
                                <td class="1">
                                    {{ counter.value }}
                                    <label>
                                        <input type="checkbox" name="cartridge_number"
                                               value="{{ cartridge.number }}">
                                    </label>
                                </td>
                                <td class="2">
                                    {{ cartridge.number }}
                                </td>
                                <td class="3">
                                    {% for model in cartridge.cartridge_models %}
                                        {{ loop.index }}) {{ model.model }}<br>
                                    {% endfor %}
                                </td>
                                <td class="4">
                                    Подразделение: {{ brought_a_cartridge.location }}<br>
                                    Корпус: {{ brought_a_cartridge.learning_campus }}<br>
                                    Кабинет: {{ brought_a_cartridge.cabinet }}<br>
                                    Номер принтера: {{ printer.num_inventory }}<br>
                                    <input type="hidden"
                                           name="location{{ cartridge.number }}"
                                           value="{{ brought_a_cartridge.location }}">
                                    <input type="hidden"
                                           name="learning_campus{{ cartridge.number }}"
                                           value="{{ brought_a_cartridge.learning_campus }}">
                                    <input type="hidden"
                                           name="cabinet{{ cartridge.number }}"
                                           value="{{ brought_a_cartridge.cabinet }}">
                                    <input type="hidden"
                                           name="printer{{ brought_a_cartridge.printer_id }}"
                                           value="{{ brought_a_cartridge.printer_id }}">
                                    <input type="hidden" name="user" value="{{ current_user.username }}">
                                </td>
                            </tr>
                            {% set counter.value = counter.value + 1 %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="Выдать" class="add_btn">
    </form>
{% endblock %}