{% extends 'base.html' %}

{% block title %}List of completed works{% endblock %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/RemoveItem.js') }}"></script>
    <script src="{{ url_for('static', filename='js/SelectInput.js') }}"></script>
    <script src="{{ url_for('static', filename='js/TableSearch.js') }}"></script>
    <script>
        let items = 1;
        let counter = {{ len_wl }} +1;

        function AddCheck() {
            const div = document.getElementById("items");
            const button = document.getElementById("add_work_done");
            items++;
            let newitem = document.createElement("div");
            let id = "new";
            newitem.setAttribute("id", id);
            newitem.innerHTML = `
                <h4>Проделанные работы:</h4>
                <form method="POST">
                <input type="hidden" name="user" value="{{ current_user.login }}">
                {% set cartridges = namespace(value=Cartridges.query.all()) %}
                {% for ctg in cartridges.value %}
                {% if ctg.work_done == 0 %}
                    <details>
                        <summary>
                            <strong>Картридж</strong>
                                {{ ctg.number }} (
                                {% for model in ctg.cartridge_models %}
                                    {{ model.model }}
                                {% endfor %})
                        </summary>
                        Выберите тип сделанной работы:<br>
                        <div id="main{{ ctg.number }}">
                            <div id=dc${items}>
                                <select id="s"
                                        name="work{{ ctg.number }}"
                                        placeholder="Выберите тип работы"
                                        style="width: 240px; height: 30px; border-radius: 4px">
                                             <option value="NAN">--Не выбрано--</option>
                                        {% for el in all_wc %}
                                             <option>{{ el.work }}</option>
                                        {% endfor %}
                                </select>
                                по цене
                                <input id="ic${items}"
                                       type="number"
                                       name="price{{ ctg.number }}"
                                       class="enter"
                                       value="0">
                                Рублей
                                <input type="button"
                                       value="✕"
                                       class="delete_btn"
                                       onclick="RemoveItem('dc${items}');">
                                <br>
                                </div>
                                <input type="button"
                                       id="ac{{ ctg.number }}"
                                       value="Добавить поле"
                                       class="add_field"
                                       onclick="AddItemC('{{ ctg.number }}')"><br>
                                </div>
                            </div>
                    </details>
                {% endif %}
                {% endfor %}

                {% set printers = namespace(value=Printer.query.all()) %}
                    {% for prtr in printers.value %}
                    {% if prtr.work_done == 0 %}
                        <details>
                            <summary>
                                <strong>Принтер</strong>
                                {{ prtr.name }} ({{ prtr.num_inventory }})
                            </summary>
                            Выберите тип сделанной работы:<br>
                            <div id="main{{ prtr.num_inventory }}">
                                <div id=dp${items}>
                                    <select id="s"
                                            name="work{{ prtr.num_inventory }}"
                                            placeholder="Выберите тип работы"
                                            style="width: 240px; height: 30px; border-radius: 4px">
                                                <option value="NAN">--Не выбрано--</option>
                                            {% for el in all_wp %}
                                                <option>{{ el.work }}</option>
                                            {% endfor %}
                                    </select>
                                    по цене
                                    <input id="ic${items}"
                                           type="number"
                                           name="price{{ prtr.num_inventory }}"
                                           class="enter"
                                           value="0">
                                    Рублей
                                    <input type="button"
                                           value="✕"
                                           class="delete_btn"
                                           onclick="RemoveItem('dp${items}');">
                                    <br>
                                    </div>
                                    <input type="button"
                                           id="ap{{ prtr.num_inventory }}"
                                           value="Добавить поле"
                                           class="add_field"
                                           onclick="AddItemP('{{ prtr.num_inventory }}')"><br>
                                </div>
                            </div>
                        </details>
                    {% endif %}
                    {% endfor %}
                    <label>
                    Дата списка работ:
                    <input type="date"
                           name="date_work"
                           class="enter"
                           placeholder="Введите дату" required>
                    </label><br>
                    <input type="hidden"
                           name="num_work"
                           value="${counter}">
                    <input type="submit"
                           name="check_submit"
                           value="Применить изменения"
                           class="add_btn">
                </form>`;

            div.insertBefore(newitem, button);
            button.remove();
        }

        function AddItemP(printer_num) {
            const div = document.getElementById("main" + printer_num);
            const button = document.getElementById("ap" + printer_num);
            console.log(button)
            items++;
            let newitem = document.createElement("div");
            let id = "dp" + items;
            newitem.setAttribute("id", id);
            newitem.innerHTML = `<select id="s"
                                        name="work${printer_num}"
                                        placeholder="Выберите тип работы"
                                        style="width: 240px; height: 30px; border-radius: 4px">
                                            <option value="NAN">--Не выбрано--</option>
                                        {% for el in all_wp %}
                                            <option>{{ el.work }}</option>
                                        {% endfor %}
                                </select>
                                по цене
                                <input id="ip${items}"
                                       type="number"
                                       name="price${printer_num}"
                                       class="enter"
                                       value="0">
                                Рублей
                                <input type="button"
                                       value="✕"
                                       class="delete_btn"
                                       onclick="RemoveItem('dp${items}');">
                                <br>`;

            div.insertBefore(newitem, button);
        }

        function AddItemC(cartridge_num) {
            const div = document.getElementById("main" + cartridge_num);
            const button = document.getElementById("ac" + cartridge_num);
            console.log(button)
            items++;
            let newitem = document.createElement("div");
            let id = "dc" + items;
            newitem.setAttribute("id", id);
            newitem.innerHTML = `<select id="s"
                                        name="work${cartridge_num}"
                                        placeholder="Выберите тип работы"
                                        style="width: 240px; height: 30px; border-radius: 4px">
                                            <option value="NAN">--Не выбрано--</option>
                                        {% for el in all_wc %}
                                            <option>{{ el.work }}</option>
                                        {% endfor %}
                                </select>
                                по цене
                                <input id="ic${items}"
                                       type="number"
                                       name="price${cartridge_num}"
                                       class="enter"
                                       value="0">
                                Рублей
                                <input type="button"
                                       value="✕"
                                       class="delete_btn"
                                       onclick="RemoveItem('dc${items}');">
                                <br>`;

            div.insertBefore(newitem, button);
        }
    </script>
{% endblock %}

{% block body %}
    <h1>Списки выполненных работ</h1>
    {% for msg in get_flashed_messages() %}
        <div class="msg">
            <h2>{{ msg }}</h2>
        </div>
    {% endfor %}
    <div class="sch_bar">
        <div class="ctr">
            <label for="search"><strong>Поиск по проделанным работам:</strong></label><br>
            <input type="text" placeholder="Начните вводить" id="search_locw" class="enter"><br>
        </div>
    </div>
    <div id="items">
    <input type="button" value="Добавить" class="add_field" id="add_work_done" onclick="AddCheck();">
        {% for work in wl %}
            <div id="d{{ loop.index }}" style="background: lightblue; margin: 5px; padding: 5px" class="dtls">
                <h4>Проделанные работы {{ work.number }} ({{ work.date_work.date().strftime('%d.%m.%Y') }}):</h4>
                Общая сумма:{{ wd_prices[loop.index - 1] }}<br>
                <table>
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Наименование</th>
                        <th>Номер/Имя</th>
                        <th>Модель/Номер</th>
                        <th>Услуга</th>
                        <th>Цена</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set counter = namespace(value=1) %}
                    {% for el in wlc %}
                        {% if el.work_list == work.id %}
                            {% set id_el = namespace(value=Cartridges.query.filter(el.cartridge_id == Cartridges.id).first()) %}
                            {% for action in el.works_prices_cartridges_id %}
                                <tr>
                                <td>
                                    {{ counter.value }}
                                </td>

                                <td>
                                    Картридж
                                </td>
                                <td>
                                    {{ id_el.value.number }}
                                </td>
                                <td>
                                    {% for model in id_el.value.cartridge_models %}
                                        ({{ model.model }})
                                    {% endfor %}
                                </td>
                                <td>
                                    {{ AllWorksCartridges.query.filter(AllWorksCartridges.id == action.all_works_cartridges_id).first().work }}<br>
                                </td>
                                <td>
                                    {{ action.price }}
                                </td>
                            {% endfor %}
                        {% set counter.value = counter.value + 1 %}
                        </tr>
                        {% endif %}
                    {% endfor %}
                    {% for el in wlp %}
                        {% if el.work_list == work.id %}
                            {% set id_el = namespace(value=Printer.query.filter(el.printer_id == Printer.id).first()) %}
                            <tr>
                                <td>
                                    {{ counter.value }}
                                </td>
                                {% for action in el.works_prices_printers_id %}
                                    <td>
                                        Принтер
                                    </td>
                                    <td>
                                        {{ id_el.value.name }}
                                    </td>
                                    <td>
                                        {{ id_el.value.num_inventory }}
                                    </td>
                                    <td>
                                        {{ AllWorksPrinters.query.filter(AllWorksPrinters.id == action.all_works_printers_id).first().work }}<br>
                                    </td>
                                    <td>
                                        {{ action.price }}
                                    </td>
                                {% endfor %}
                                {% set counter.value = counter.value + 1 %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}