{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block body %}
    <h1>Вход</h1>
    <div class="align-center" style="background-color: gray">
        <form method="POST">
            <div class="form" id="items">
                {% for msg in get_flashed_messages() %}
                    <div class="msg">
                        {{ msg }}
                    </div>
                {% endfor %}

                <label for="login">Логин</label>
                <input id="login" type="text" name="login" class="enter">

                <label for="password1">Пароль</label>
                <input id="password1" type="password" name="password" class="enter">

                <input type="submit" value="Вход" class="add_btn">
            </div>
        </form>
    </div>
{% endblock %}