{% extends 'base.html' %}

{% block title %}Printers{% endblock %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/TableSearch.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Принтеры: </h1>
    {% for msg in get_flashed_messages() %}
        <div class="msg">
            {{ msg }}
        </div>
    {% endfor %}
    <div class="align-center" style="background-color: gray">
        <form method="POST">
            <div class="form">

                <label for="name">Имя принтера: </label><input type="text"
                                                               name="name"
                                                               id="name"
                                                               class="enter"
                                                               placeholder="Введите имя" required><br>

                <label for="num_inventory">Номер инвентаря: </label><input type="text"
                                                                           name="num_inventory"
                                                                           id="num_inventory"
                                                                           class="enter"
                                                                           placeholder="Введите номер" required><br>

                <label for="location">Подразделение: </label><input type="text"
                                                                    name="location"
                                                                    id="location"
                                                                    class="enter"
                                                                    placeholder="Введите подразделение" required><br>

                <label for="learning_campus">Учебный корпус: </label><input type="text"
                                                                            name="learning_campus"
                                                                            id="learning_campus"
                                                                            class="enter"
                                                                            placeholder="Введите корпус" required><br>

                <label for="cabinet">Кабинет: </label><input type="text"
                                                             name="cabinet"
                                                             id="cabinet"
                                                             class="enter"
                                                             placeholder="Введите кабинет" required><br>

                <label for="user">Пользователь: </label><input type="text"
                                                               name="user"
                                                               id="user"
                                                               class="enter" required><br>
                <input type="submit" value="Добавить" class="add_btn">
            </div>
        </form>
    </div>

    {% if printers|length > 0 %}
        <div class="sch_bar">
            <div class="ctr">
                <label for="search"><strong>Поиск по таблице:</strong></label><br>
                <input type="text" placeholder="Начните вводить" id="search" class="enter"><br>
            </div>
            <div class="line"></div>
            <div class="ctr">
                <strong>Поиск по статусу:></strong><br>
                <input type="radio" name="status" value="в подразделении">В подразделении
                <input type="radio" name="status" value="принят в ремонт">Принят в ремонт
                <input type="radio" name="status" value="в ремонте">В ремонте
                <input type="radio" name="status" value="получен из ремонта">Получен из ремонта
                <input type="radio" name="status" value="восстановлен">Восстановлен
                <input type="radio" name="status" value="добавлен">Добавлен<br>
            </div>
            <div class="line"></div>
            <input type="button" id="btn_off" value="Снять выделение" class="btn_clr">
        </div>
        <table style="width: 100%" id="mytable">
            <colgroup>
                <col span="1" style="width: 5%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 25%;">
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 20%;">
            </colgroup>
            <thead>
            <tr>
                <th>№</th>
                <th>Имя принтера<br><input type="text" placeholder="Начните вводить" id="sch2" class="enter"><br></th>
                <th>Номер инвентаря<br><input type="text" placeholder="Начните вводить" id="sch3" class="enter"><br>
                </th>
                <th>Статус</th>
                <th>Локация</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for printer in printers %}
                {% if (printer.efficiency != 0) %}
                    <tr>
                        <td class="1">
                            {{ loop.index }}
                        </td>
                        <td class="2">
                            {{ printer.name }}
                        </td>
                        <td class="3">
                            {{ printer.num_inventory }}
                        </td>
                        <td class="4">
                            {{ printer.status }}
                        </td>
                        <td class="5">
                            Подразделение: {{ printer.location_now }}<br>
                            Корпус: {{ printer.learning_campus_now }}<br>
                            Кабинет: {{ printer.cabinet_now }}<br>
                        </td>
                        <td class="6">
                            <a href="/printer/{{ printer.id }}/update">Изменить</a>
                            <a href="/printer/{{ printer.id }}/delete">Удалить</a>
                            <a href="/printer/{{ printer.id }}/statuses">Статусы</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>Принтеров пока что нету</h1>
    {% endif %}
{% endblock %}