{% extends 'base.html' %}

{% block title %}Printers{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/TableSearch.js') }}"></script>
    <script src="{{ url_for('static', filename='js/SelectInput.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Принтеры: </h1>
    {% for msg in get_flashed_messages() %}
        <div class="msg">
            {{ msg }}
        </div>
    {% endfor %}
    <div class="align-center">
        <form method="POST">
            <div class="form">
                <table style="border: none">
                    <colgroup>
                        <col span="1" style="width: 50%;">
                        <col span="1" style="width: 30%;">
                        <col span="1" style="width: 20%;">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td style="border: none">
                            <label for="name">Имя принтера: </label>
                            <input type="text"
                                   name="name"
                                   id="name"
                                   class="enter"
                                   placeholder="Введите имя" required>
                        </td>
                        <td style="border: none">
                            <label for="learning_campus">Учебный корпус: </label>
                            <select name="learning_campus"
                                    id="learning_campus"
                                    class="select" required>
                                {% for b in buildings %}
                                    <option>{{ b.building }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td style="border: none">
                            <label for="cabinet">Кабинет: </label>
                            <input type="text"
                                   name="cabinet"
                                   id="cabinet"
                                   class="enter"
                                   placeholder="Введите кабинет" required>
                        </td>
                    </tr>
                    <tr>
                        <td style="border: none">
                            <label for="num_inventory">Номер инвентаря: </label>
                            <input type="text"
                                   name="num_inventory"
                                   id="num_inventory"
                                   class="enter"
                                   placeholder="Введите номер" required>
                        </td>
                        <td style="border: none">
                            <label for="location">Подразделение: </label>
                            <select name="location"
                                    id="location"
                                    class="select" required>
                                {% for d in divisions %}
                                    <option>{{ d.division }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td style="border: none">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <input type="hidden" name="user" value="{{ current_user.username }}">
                <div class="btns">
                    <input type="submit" value="Добавить" class="add_btn">
                </div>
            </div>
        </form>
    </div>

    {% if printers|length > 0 %}
        <div class="sch_bar">
            <table style="border: none">
                <colgroup>
                    <col span="1" style="width: 40%;">
                    <col span="1" style="width: 60%;">
                </colgroup>
                <tbody>
                <tr>
                    <td class="ctr" style="border: none">
                        <strong>Поиск по таблице:</strong>
                    </td>
                    <td class="ctr" style="border: none">
                        <strong>Поиск по статусу:</strong>
                    </td>
                </tr>
                <tr>
                    <td class="ctr" style="border: none">
                        <input type="text" placeholder="Начните вводить" id="search" class="enter"><br>
                    </td>
                    <td class="ctr" style="border: none">
                        <div class="radios">
                            <span>
                                <input type="radio" name="status" value="{{ StatusSettings.Printer.in_reserve }}">
                                <label>{{ StatusSettings.Printer.in_reserve }}</label>
                            </span>
                            <span>
                                <input type="radio" name="status" value="{{ StatusSettings.Printer.accepted_for_repair }}">
                                <label>{{ StatusSettings.Printer.accepted_for_repair }}</label>
                            </span>
                            <span>
                                <input type="radio" name="status" value="{{ StatusSettings.Printer.in_repair }}">
                                <label>{{ StatusSettings.Printer.in_repair }}</label>
                            </span>
                            <span>
                                <input type="radio" name="status" value="{{ StatusSettings.Printer.in_division }}">
                                <label>{{ StatusSettings.Printer.in_division }}</label>
                            </span>
                            <span>
                                <input type="radio" name="status" value="{{ StatusSettings.Printer.restored }}">
                                <label>{{ StatusSettings.Printer.restored }}</label>
                            </span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <input type="button" id="btn_off" value="Снять выделение" class="btn_clr">
        </div>
        <table style="width: 100%" id="mytable">
            <colgroup>
                <col span="1" style="width: 5%;">
                <col span="1" style="width: 10%;">
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 25%;">
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 20%;">
            </colgroup>
            <thead>
            <tr>
                <th>№</th>
                <th>Имя принтера</th>
                <th>Номер инвентаря</th>
                <th>Статус</th>
                <th>Локация</th>
                <th>Действие</th>
            </tr>
            <tr style="background: lightblue">
                <th><i class="fa-solid fa-magnifying-glass"></i></th>
                <th><input type="text" placeholder="Начните вводить" id="sch2" class="enter"></th>
                <th><input type="text" placeholder="Начните вводить" id="sch3" class="enter"></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for printer in printers %}
                {% if (printer.efficiency != 0) %}
                    <tr>
                        <td class="1">
                            {{ loop.index }}
                        </td>
                        <td class="2">
                            {{ printer.name }}
                        </td>
                        <td class="3">
                            {{ printer.num_inventory }}
                        </td>
                        <td class="4">
                            {{ printer.status }}
                        </td>
                        <td class="5">
                            {% if printer.status == StatusSettings.Printer.accepted_for_repair or
                                  printer.status == StatusSettings.Printer.in_reserve %}
                                У нас в подразделении
                            {% else %}
                                {% if printer.status == StatusSettings.Printer.in_repair %}
                                    В ремонте
                                {% else %}
                                    {% if printer.status == StatusSettings.Printer.in_division %}
                                        Подразделение: {{ printer.location_now }}<br>
                                        Корпус: {{ printer.learning_campus_now }}<br>
                                        Кабинет: {{ printer.cabinet_now }}<br>
                                    {% else %}
                                        Ещё не был в подразделении
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class="6">
                            <a href="/printer/{{ printer.id }}/update">Изменить</a>
                            <a href="/printer/{{ printer.id }}/delete">Утилизировать</a>
                            <a href="/printer/{{ printer.id }}/statuses">Статусы</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>Принтеров пока что нету</h1>
    {% endif %}
{% endblock %}