{% extends 'base.html' %}

{% block title %}Progress report{% endblock %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/TableSearch.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Отчёты</h1>
    {% for msg in get_flashed_messages() %}
        <div class="msg">
            <h2>{{ msg }}</h2>
        </div>
    {% endfor %}
    <div class="sch_bar">
        <div class="ctr">
            <label for="search"><strong>Поиск по договорам:</strong></label><br>
            <input type="text" placeholder="Начните вводить" id="search_progress_report" class="enter"><br>
        </div>
    </div>
    {% for contract in all_contracts %}
        <div style="background-color: lightblue" class="dtls">
            <h2>Номер договора:</h2>
            <details>
                <summary>
                    {{ contract.name }} {{ contract.date_contract.date() }}
                </summary>
                <strong>Счета:</strong><br>
                {% for check in CheckLists.query.filter(CheckLists.list_of_contracts_id == contract.id) %}
                    {{ loop.index }})
                    {% if check.date_check == contract.date_contract %}
                        <strong>Дата от:</strong>Не указана
                    {% else %}
                        <strong>Дата от:</strong>{{ check.date_check.date() }}
                    {% endif %}
                    {% if check.sum == 0 %}
                        <strong>Сумма счёта:</strong>Не указана
                    {% else %}
                        <strong>Сумма счёта:</strong>{{ check.sum }} Рублей
                    {% endif %}
                    <a href="/progress_report/{{ check.id }}{{ contract.id }}/more" class="#">Подробнее</a><br>
                {% endfor %}
            </details>
        </div>
    {% endfor %}

{% endblock %}