{% extends 'base.html' %}

{% block title %}New check{% endblock %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/TableSearch.js') }}"></script>
    <script src="{{ url_for('static', filename='js/RemoveItem.js') }}"></script>
    <script>

    </script>
{% endblock %}

{% block body %}
    <h1>Изменение списка работ ({{ work.date_work.date().strftime('%d.%m.%Y') }})</h1>
    {% for msg in get_flashed_messages() %}
        <div class="msg">
            <h4>{{ msg }}</h4>
        </div>
    {% endfor %}
    <div class="align-center">
        <form method="POST">
            <table>
                <colgroup>
                    <col span="1" style="width: 5%;">
                    <col span="1" style="width: 20%;">
                    <col span="1" style="width: 20%;">
                    <col span="1" style="width: 20%;">
                    <col span="1" style="width: 20%;">
                    <col span="1" style="width: 15%;">
                </colgroup>
                <thead>
                <tr>
                    <th>№</th>
                    <th>Наименование</th>
                    <th>Номер/Имя</th>
                    <th>Модель/Номер</th>
                    <th>Услуга</th>
                    <th>Цена</th>
                </tr>
                </thead>
                <tbody>
                {% set counter = namespace(value=1) %}
                {% for el in wlc %}
                    {% if el.work_list == work.id %}
                        {% set id_el = namespace(value=Cartridges.query.filter(el.cartridge_id == Cartridges.id).first()) %}
                        {% for action in el.works_prices_cartridges_id %}
                            <tr>
                            <td>
                                {{ counter.value }}
                            </td>

                            <td>
                                Картридж
                            </td>
                            <td>
                                {{ id_el.value.number }}
                            </td>
                            <td>
                                {% for model in id_el.value.cartridge_models %}
                                    ({{ model.model }})
                                {% endfor %}
                            </td>
                            <td>
                                {{ AllWorksCartridges.query.filter(AllWorksCartridges.id == action.all_works_cartridges_id).first().work }}<br>
                            </td>
                            <td>
                                <input type="number" name="prices_c" value="{{ action.price }}" class="enter">
                                <input type="hidden" name="works_c_id" value="{{ el.id }}">
                            </td>
                        {% endfor %}
                    {% set counter.value = counter.value + 1 %}
                    </tr>
                    {% endif %}
                {% endfor %}
                {% for el in wlp %}
                    {% if el.work_list == work.id %}
                        {% set id_el = namespace(value=Printer.query.filter(el.printer_id == Printer.id).first()) %}
                        {% for action in el.works_prices_printers_id %}
                            <tr>
                            <td>
                                {{ counter.value }}
                            </td>

                            <td>
                                <p>Принтер</p>
                            </td>
                            <td>
                                {{ id_el.value.name }}
                            </td>
                            <td>
                                {{ id_el.value.num_inventory }}
                            </td>
                            <td>
                                {{ AllWorksPrinters.query.filter(AllWorksPrinters.id == action.all_works_printers_id).first().work }}<br>
                            </td>
                            <td>
                                <input type="number" name="prices_p" value="{{ action.price }}" class="enter">
                                <input type="hidden" name="works_p_id" value="{{ el.id }}">
                            </td>
                        {% endfor %}
                    {% set counter.value = counter.value + 1 %}
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <input type="submit" class="add_btn" value="Изменить">
        </form>
    </div>
{% endblock %}